.search-tab,
form.comment-tab {
  margin: 30px 0;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}

.search-tab input,
form.comment-tab input {
  padding: 5px;
  width: 30%;
}

.reviews-tab {
  max-width: 70%;
  margin: auto;
  padding: 20px 0;

  align-items: center;
  column-gap: 20px;
  border-bottom: 1px solid;
}

.reviews-tab img {
  width: 70px;
  width: 70px;
  border-radius: 50%;
}
