:where(.css-dev-only-do-not-override-k7429z).ant-rate {
  font-size: 15px;
  color: orange;
}

.list-course a {
  display: inline-block;
  width: 100%;
}

.list-course a img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.list-course > a > p.name-course {
  min-height: 60px;
  margin-bottom: 10px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 35px;
  top: 35%;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.best-seller {
  font-size: 12px;
}

@media screen and (min-width: 992px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 45px;
    height: 45px;
    top: 50%;
  }
}
